{% extends "base.html.twig" %}

{% block title %} à propos{% endblock %}

{% block body %}
{% block content %}
<h1> à propos </h1>

<p> Cette a été faite par un stagiaire du centre de formation de <a href="https://guinot.asso.fr/"> Guinot </a> pour valider son diplôme de DWWM (Développeur Web et Web Mobile). </p>
{% endblock %}

{% block footer %}

{% endblock %}
{% endblock %}