<h1>salut veuillez confirmer votre Email!</h1>

<br/><br/>

<p>
    Veuillez confirmer votre email en cliquant sur le lien ci-dessous : <br/><br/>
    <a href="{{ signedUrl }}"> je confirme mon mail </a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>

</p>
