{% extends "base.html.twig" %}

{% block title %}
Bienvenu(e) dans votre page d'accueil !    
{% endblock %}

{% block body %}

<br/><br/>
{% block content %}
<div>
    <h1> Vous êtes dans votre page d'accueil </h1>

    <br/><br/>
    
    bonjour {{ app.user.civilite ~ " " ~ app.user.nom ~ " " ~ app.user.prenom }}

    {# {% for utilisateur in utilisateurs %} #}
    {# <p> Salut {{ utilisateur.civilite ~ " " utilisateur.nom ~ " " utilisateur.prenom }} </p>     #}
    {# {% endfor %} #}
    
    <br/><br/>

    <p> Vous pouvez gérer ici toutes les informations personnelles vous concernant. La consultation de vos messages, leur suppression ou non, la consultation de vos contacts, la recherche de nouveaux!
        Bonne visite! </p>
</div>
{% endblock %}

<br><br>

{% block footer %}
{% endblock %}
{% endblock %}