{% extends 'base.html.twig' %}

{% block title %} Liste des messages! {% endblock %}

{% block body %}
<style>
    .contenu {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .contenu code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="contenu">
    <h1> bienvenu(e) sur la page de la liste des messages! ✅</h1>

    <br /><br />
    <hr />
    <br />
    <table border="1">
        <tbody>
            <thead>
                <tr>
                    <th> Titre </th>
                    <th> Message </th>
                    <th> Date </th>
                    <th> utilisateur </th>
                </tr>
            </thead>

            <tr>
                {% for message in messages %}
                <td> {{ message.titre }} </td>
                <td> {{ message.message }} </td>
                <td> {{ message.createdAt|date("d/m/Y") }} </td>
                <td> {{ message.utilisateur.nom ~ ' ' ~ message.utilisateur.prenom }} </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <ul>


    </ul>
</div>
{% endblock %}