{% extends 'base.html.twig' %}

{% block title %} Liste des messages! {% endblock %}


{% block body %}

<div>
    <h1> bienvenu(e) sur la page de la liste des messages! ✅</h1>

    <br /><br />
    <hr />
    <br />
    <table border="1">
        <tbody>
            {% for message in messages %}
            <thead>
                <tr>
                    <th> Titre </th>
                    <th> Message </th>
                    <th> Date </th>
                    <th> utilisateur </th>
                </tr>
            </thead>

            <tr>
                <td> {{ message.titre }} </td>
                <td> {{ message.message }} </td>
                <td> {{ message.createdAt|date("d/m/Y") }} </td>
                <td> {{ message.utilisateur.nom ~ ' ' ~ message.utilisateur.prenom }} </td>
                {% else %}
                <td colspan="5">
                    Vous n'avez pas d'enregistrement!
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}