{% extends 'base.html.twig' %}

{% block title %} Liste des messages! {% endblock %}
<<<<<<< HEAD
<<<<<<< HEAD

{% block body %}
<style>
    .contenu {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .contenu code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="contenu">
=======


{% block body %}

{% block content %}
<div>
>>>>>>> modou
=======


{% block body %}

{% block content %}
<div>
>>>>>>> modou
    <h1> bienvenu(e) sur la page de la liste des messages! ✅</h1>

    <br /><br />
    <hr />
    <br />
<<<<<<< HEAD
<<<<<<< HEAD
    <table>
        <tbody>
=======
    <table border="1">
        <tbody>
            {% for message in messages %}
>>>>>>> modou
=======
    <table border="1">
        <tbody>
            {% for message in messages %}
>>>>>>> modou
            <thead>
                <tr>
                    <th> Titre </th>
                    <th> Message </th>
                    <th> Date </th>
                    <th> utilisateur </th>
                </tr>
            </thead>

            <tr>
<<<<<<< HEAD
<<<<<<< HEAD
                {% for message in messages %}
=======
>>>>>>> modou
=======
>>>>>>> modou
                <td> {{ message.titre }} </td>
                <td> {{ message.message }} </td>
                <td> {{ message.createdAt|date("d/m/Y") }} </td>
                <td> {{ message.utilisateur.nom ~ ' ' ~ message.utilisateur.prenom }} </td>
<<<<<<< HEAD
<<<<<<< HEAD
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <ul>


    </ul>
=======
                {% else %}
                <td colspan="5">
                    Vous n'avez pas de messages enregistré dans votre base de données !
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

>>>>>>> modou
</div>
=======
                {% else %}
                <td colspan="5">
                    Vous n'avez pas de messages enregistré dans votre base de données !
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

<br/><br/>

{% block footer %}
{% endblock %}
<<<<<<< HEAD
>>>>>>> modou
=======

<br/><br/>

{% block footer %}
{% endblock %}
>>>>>>> modou
{% endblock %}